{% extends 'base.html.twig' %}

{% block title %}Tableau de bord{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/dashboard.css') }}">
{% endblock %}

{% block body %}
<div class="content">
    <h1 class="title">TABLEAU DE BORD</h1>
    <div class="dashboard-container">
        <button class="dashboard-button">
            <a href="" class="dashboard-link">Nouvel Employé</a>
        </button>
        <button class="dashboard-button">
            <a href="" class="dashboard-link">Modérer les services</a>
        </button>
    </div>
</div>
{% endblock %}
