.buttons-container {
    display:flex;
    justify-content: space-around;
    padding-bottom: 1vw;
}

/*  Style de la pagination */
.pagination {
    justify-content: center;
    margin-top: 0.5vw;
    font-size: 4vw;
    color: #D92233;
}

.pagination a {
    color: #D92233;
    margin: 0 5px;
    font-weight: bold;
}

.pagination a.prev,
.pagination a.next {
    color: #D92233;
}

@media screen and (min-width: 768px) {
    .pagination {
        font-size: 1.7vw;
    }
}