/* Style du lien pour créer un nouvel employé */
.link-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3vw;
}

.new-employee-link {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.new-employee-text {
    color: #D94350;
    font-weight: bold;
    font-size: 30px;
}

.plus-circle {
    margin-right: 10px;
}

a:hover {
    text-decoration: none;
}

/* Style du tableau */
.employee-table {
    margin: auto;
    margin-top: 3vw;
    max-width: 95%;
}

.employee-th {
    padding-left: 3vw;
    padding-right: 3vw;
    background: #D92332;
    color: white;
    font-weight: bold;
    height: 4vh;
}

.employee-td {
    padding-bottom: 0.5vh;
    padding-top: 0.5vh;
    padding-left: 2.5vw;
    font-weight: 500;
    font-size: 12px;
}


@media screen and (min-width:900px) {
    .new-employee-text {
        font-size: 40px;
    }

    .employee-table {
        width: 60%;
    }

    .employee-td {
        font-size: 16px;
    }
}