/* Style du logo */
.logo-container {
  text-align: center;
}

.logo-home {
  max-width: 100%;
  height: auto;
}

/* Style du slider */
.slider-container {
    max-width: 960px;
    overflow: hidden;
    margin: 50px auto;
    box-shadow: 0px 0px 10px #777;
  }
  
.slider {
  width: 465%;
  height: 0;
  padding-top: 37.5%;
  background-color: #EDEDED;
  background-image: url("../pictures/diapo.png");
  background-size: contain;
  animation: defilement 15s linear infinite;
}

@keyframes defilement{
  0%{transform: translate(0,0);}
  100%{transform: translate(-75%,0);}
}

.slider:hover {
  animation-play-state: paused;
}

/* style des avis client */
.review-container {
  width: 80%;
  background: #D94350;
  margin: auto;
  padding-top: 0.8vw;
  padding-bottom: 0.1vw;
  margin-bottom: 2vw;
  max-height: 100%;
}

.rate {
  padding-left: 1vw;
  padding-bottom: 1vw;
}

.star {
  font-size: 2vw;
  color: yellow;
}

.yellow-star {
  color: yellow;
}

.review-text {
  font-weight: bold;
  color: white;
  text-align: center;
}

.review-name {
  color: white;
  display: flex;
  justify-content: flex-end;
  padding-right: 1vw;
}