/* Style du lien pour créer un nouveau service */
.link-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3vw;
}

.new-service-link {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.new-service-text {
    color: #D94350;
    font-weight: bold;
    font-size: 40px;
}

.plus-circle {
    margin-right: 10px;
}

a:hover {
    text-decoration: none;
}

/* Style des containers des réparations proposées */
.service-container {
    position: relative;
}

.service-text {
    padding-bottom: 20px;
}

.buttons-container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
}