/* Style du formulaire des avis clients */
.review-form {
    max-width: 80%;
}

input, textarea, .review-form {
    display: block;
    margin-bottom: 10px;
}

input[type="text"], textarea {
    width: 100%;
}

/* Style des étoiles de notation */
.rating-form-container {
    display: flex;
    margin-bottom: 20px; 
    padding-left: 20px;
}

.rating {
    display: flex;
    flex-direction: row-reverse;
}

.rating input {
    display: none;
}

.rating label {
    font-size: 30px;
    color: white;
    cursor: pointer;
    display: inline-block;
    margin-right: 5px;
}

.rating label:before {
    content: '\2605';
}

.rating input:checked ~ label {
    color: #ffcc00;
}

.rating input:hover ~ label {
    color: #ffcc00;
}

@media screen and (min-width: 700px) {
    .review-form {
        max-width: 50%;
    }
}

@media screen and (min-width: 1200px) {
    .review-form {
        max-width: 30%;
    }
}

/* Message d'erreur */
.error-message {
    color: red;
    text-align: center;
}