body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1;
    padding: 20px;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

form {
    max-width: 70%;
    margin-top: 4vw;
}

input, textarea, form {
    display: block;
    margin-bottom: 10px;
}

input[type="text"], textarea {
    width: 100%;
}

.form-button {
    margin-top: 30px;
}

@media screen and (min-width:700px) {
    form {
        max-width: 50%;
    }
}

@media screen and (min-width:1200px) {
    form {
        max-width: 30%;
    }
}