/* Style principal des pages de voitures d'occasion */
.used-car-container {
    width: 90%;
    margin: auto;
    background: #D94350;
    margin-top: 3vw;
}

.picture {
    width: 100%;
    margin-bottom: 2vw;
}

.text {
    color: white;
}

.used-car-title {
    font-size: 30px;
    text-align: center;
    font-weight: bold;
}

.used-car-details {
    padding-left: 5vw;
}

/* Style de la page de présentation des voitures d'occasion */

/* Style du slider */
.filter {
    display: flex;
    justify-content: flex-end;
    margin-right: 6vw;
}

#toggleRangesButton {
    border: none;
    background: white;
}

.filter-button-svg {
    cursor:pointer;
}

.doubleRange { 
    width:80%; 
    margin:10px 0; 
    padding-top:13px; 
}

.doubleRange .barre { 
    width:100%; 
    height:6px; 
    background-color:grey; 
    border-radius:3px; 
    position:relative; 
}

.doubleRange .barre .barreMilieu { 
    height:6px; 
    background-color:#D9777F; 
    position:absolute; 
}

.doubleRange .barre .thumb { 
    width:26px; 
    height:26px; 
    background-color:white; 
    border:1px solid grey; 
    border-radius:50%; 
    top:-10px; 
    position:absolute; 
    cursor:pointer; 
    transform:translateX(-13px); 
}

.doubleRange .label { 
    margin-top:15px; 
    color:#D9777F; 
    font-weight:bold; 
    user-select:none; 
    -webkit-user-select: none; 
    -khtml-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
}

.label {
    font-size: 12px;
}

@media (max-width: 768px) {
    .doubleRange {
        display: block;
        margin: 0 auto;
        padding-bottom: 5px;
    }
}

/*  Style des boutons de details */
.form-button {
    display: flex;
    justify-content: center;
    width: 120px;
    height: 40px;
}

.button-container {
    padding-bottom: 2vw;
    margin-top: 3vw;
    display:flex;
}

#delete-button {
    align-items: center;
    font-size: 20px;
}

/* Style de la page de description d'une voiture */
.used-car-description {
    padding-bottom: 3vw;
}

.used-car-description-table, .used-car-description-tr, .used-car-description-td {
    border: none;
}

.used-car-description-table {
    width: 50%;
    margin: auto;
    margin-top: 3vw;
}

.table-title {
    font-weight: bold;
    width: 50%;
    text-align: end;
    padding-right: 2vw;
}

.description-text {
    padding-top: 3vw;
    width: 80%;
    text-align: center;
    margin: auto;
}

.image-container {
    position: relative;
    display: inline-block;
    width: 100%;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 4px 8px;
    cursor: pointer;
}

.arrow-left {
    left: 0;
}

.arrow-right {
    right: 0;
}


@media screen and (min-width: 768px) {
    .used-car-container {
        width: 70%;
    }
}