/* Style principal des pages de voitures d'occasion */
.used-car-container {
    width: 90%;
    margin: auto;
    background: linear-gradient(145deg, #c43d48, #D94350);
    margin-top: 3vw;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
}

.picture {
    width: 100%;
}

.text {
    color: white;
    line-height: 1.6;
    font-size: 16px;
}

.used-car-title {
    font-size: 26px;
    margin-top: 10px;
    margin-bottom: 15px;
    text-align: center;
    font-weight: bold;
}

.used-car-details {
    padding-left: 5vw;
}

/* Style de la page de présentation des voitures d'occasion */

/* Style des filtres  */
.filter {
    display: flex;
    justify-content: flex-end;
    margin-right: 6vw;
}

#toggleRangesButton {
    border: none;
    background: white;
}

.filter-button-svg {
    cursor:pointer;
}

.doubleRange { 
    width:80%; 
    margin:10px 0; 
    padding-top:13px; 
}

.doubleRange .barre { 
    width:100%; 
    height:6px; 
    background-color:grey; 
    border-radius:3px; 
    position:relative; 
}

.doubleRange .barre .barreMilieu { 
    height:6px; 
    background-color:#D9777F; 
    position:absolute; 
}

.doubleRange .barre .thumb { 
    width:26px; 
    height:26px; 
    background-color:white; 
    border:1px solid grey; 
    border-radius:50%; 
    top:-10px; 
    position:absolute; 
    cursor:pointer; 
    transform:translateX(-13px); 
}

.doubleRange .label { 
    margin-top:15px; 
    color:#D9777F; 
    font-weight:bold; 
    user-select:none; 
    -webkit-user-select: none; 
    -khtml-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
}

@media (max-width: 768px) {
    .doubleRange {
        display: block;
        margin: 0 auto;
        padding-bottom: 5px;
    }
}

/* Style de la page de description d'une voiture */
.used-car-description {
    padding-bottom: 3vw;
}

.used-car-description-table, .used-car-description-tr, .used-car-description-td {
    border: none;
}

.used-car-description-table {
    width: 90%;
    margin: auto;
    margin-top: 3vw;
}

.table-title {
    font-weight: bold;
    width: 50%;
    text-align: end;
    padding-right: 2vw;
}

.description-text {
    padding-top: 3vw;
    width: 80%;
    text-align: center;
    margin: auto;
}

.image-container {
    position: relative;
    display: inline-block;
    width: 100%;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 4px 8px;
    cursor: pointer;
}

.arrow-left {
    left: 0;
}

.arrow-right {
    right: 0;
}

@media (min-width: 768px) {
    .used-car-container {
        flex-direction: row;
        align-items:center;
    }
    .used-car-picture, .used-car-description {
        width: 50%;
    }
    .used-car-description {
        padding: 20px;
    }
}