<h2 class="subtitle">Formulaire de contact</h2>
<form class="contact-form">
    <label for="lastname" class="label">Nom</label>
    <input type="text" id="lastname" name="lastname" required />
    <label for="firstname" class="label">Prénom</label>
    <input type="text" id="firstname" name="firstname" required />
    <label for="email" class="label">Email</label>
    <input type="text" id="email" name="email" required />
    <label for="phone" class="label">Téléphone</label>
    <input type="text" id="phone" name="phone" required />
    <label for="comment" class="label">Message</label>
    <textarea id="comment" name="comment" rows="5" cols="33">Ecrivez votre message.</textarea>
    <input type="button" class="button form-button" value="Envoyer" />
</form>
<h2 class="subtitle">Coordonnées</h2>
<div class="address-box">
    <p class="address">53, rue Grande Fusterie 69500 BRON<br>
    <p class="address">v.parrot@hotmail.com</p>
    <p class="address">04.08.62.61.95</p>
</div>