<h2 class="subtitle">Formulaire de contact</h2>
{% for flashMessage in app.session.flashbag.get('success') %}
<div class="alert alert-success">
    {{ flashMessage }}
</div>
{% endfor %}
{{ form_start(form, {'attr': {'class': 'form contact-form'}}) }}
    {{ form_widget(form) }}
    
    <div class="form-button-container">
        <input type="submit" class="button form-button" value="Envoyer" />
    </div>
{{ form_end(form) }}


<h2 class="subtitle">Coordonnées</h2>
<div class="address-box">
    <p class="address">53, rue Grande Fusterie 31000 TOULOUSE<br>
    <p class="address">v.parrot@hotmail.com</p>
    <p class="address">05.62.70.61.95</p>
</div>