<h2 class="subtitle">Formulaire de contact</h2>
{% for flashMessage in app.session.flashbag.get('success') %}
<div class="alert alert-success">
    {{ flashMessage }}
</div>
{% endfor %}
{{ form_start(form,  {'attr': {'class': 'form contact-form'}}) }}
    {{ form_widget(form) }}
    <input type="submit" class="button form-button" value="Envoyer" />
{{ form_end(form) }}

<h2 class="subtitle">Coordonnées</h2>
<div class="address-box">
    <p class="address">53, rue Grande Fusterie 69500 BRON<br>
    <p class="address">v.parrot@hotmail.com</p>
    <p class="address">04.08.62.61.95</p>
</div>