<form action="" method="POST" class="review-form">
    <label for="username" class="label">Nom</label>
    <input type="text" id="username" name="username" required />
    <label for="comment" class="label">Message</label>
    <textarea id="comment" name="comment" rows="5" cols="33">Ecrivez votre commentaire.</textarea>
    <p class="label">Note</p>
    <div class="rating-form-container">
        <div class="rating">
            <input type="radio" id="star1" name="rating" value="1" />
            <label for="star1"></label>
            <input type="radio" id="star2" name="rating" value="2" />
            <label for="star2"></label>
            <input type="radio" id="star3" name="rating" value="3" />
            <label for="star3"></label>
            <input type="radio" id="star4" name="rating" value="4" />
            <label for="star4"></label>
            <input type="radio" id="star5" name="rating" value="5" />
            <label for="star5"></label>
        </div>
    </div>
    <input type="button" class="button form-button" value="Envoyer">
</form>