{% extends 'base.html.twig' %}

{% block title %}Se connecter{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/connexion.css') }}">
{% endblock %}

{% block body %}
    <h1 class="title">Se connecter</h1>
    <form action="" method="POST" class="connexion-form">
        <label for="email" class="label">Email</label>
        <input type="text" id="email" name="email" />
        <label for="password" class="label">Mot de passe</label>
        <input type="text" id="password" name="password" />
        <input type="submit" class="button form-button" value="Se connecter" />
    </form>
{% endblock %}
