{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/contact.css') }}">
{% endblock %}

{% block body %}
    <h1 class="title">Contactez-nous</h1>
    {% include 'snippets/contact_snippet.html.twig' %}
{% endblock %}
