{% extends 'base.html.twig' %}

{% block title %}Modérer les avis{% endblock %}

{% block body %}
<div class="return-button-container">
    <button class="button return-button">
        <a href="{{ path('dashboard-employe-1') }}" class="link-button">Retour</a>
    </button>
</div>
<h1 class="title">Modérer les avis</h1>
{% endblock %}