{% extends 'base.html.twig' %}

{% block title %}Mentions légales{% endblock %}

{% block body %}
<h1 class="title">MENTIONS LÉGALES</h1>
<p class="main-text"><br>Conformément aux dispositions de la loi n° 2004-575 du 21 juin 2004 pour la confiance en l'économie numérique, il est précisé aux utilisateurs du site VParrot l'identité des différents intervenants dans le cadre de sa réalisation et de son suivi.</p>
<h2 class="subtitle">Edition du site</h2>
<p class="main-text">Le présent site, accessible à l’URL v-parrot.eu, est édité par :
Vincent Parrot, résidant 53, rue Grande Fusterie 31000 Toulouse, de nationalité Française (France), né(e) le 01/02/1980.</p>
<h2 class="subtitle">Hébergement</h2>
<p class="main-text">Le Site est hébergé par la société Hostinger, situé 2 rue de l'échappée 75010 PARIS, (contact téléphonique ou email : +33601020304).</p>
<h2 class="subtitle">Directeur de publication</h2>
<p class="main-text">Le Directeur de la publication du site est Vincent Parrot.</p>
<h2 class="subtitle">Nous contacter</h2> 
<p class="main-text">Par téléphone : +33562706195<br>Par email : v.parrot@hotmail.com<br>Par courrier : 53, rue Grande Fusterie 69500 BRON</p>
<h2 class="subtitle">Données personnelles</h2>
<p class="main-text">Le traitement de vos données à caractère personnel est régi par notre Charte du respect de la vie privée, disponible depuis la section "Charte de Protection des Données Personnelles", conformément au Règlement Général sur la Protection des Données 2016/679 du 27 avril 2016 («RGPD»).</p>
<p class="main-text"><i>Génération des mentions légales par Legalstart.</i></p>
{% endblock %}